---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getPublishedBlogPosts } from '../../utils/blog';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getPublishedBlogPosts())
    .sort((a, b) => {
        const aDate = a.data.pubDate ? a.data.pubDate.valueOf() : 0;
        const bDate = b.data.pubDate ? b.data.pubDate.valueOf() : 0;
        return bDate - aDate;
    });
---

<BaseLayout title="Blog Index">
    <main class="wrapper">
        <section>
            <ul>
                {
                    posts.map((post) => (
                        <li>
                            <a href={`/blog/${post.id}/`}>
                                <h4 class="title">{post.data.title}</h4>
                                <p class="date">
                                    <FormattedDate date={post.data.pubDate || new Date()} />
                                </p>
                                <p class="description">
                                    {post.data.description || 'No snippet available.'}
                                </p>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </section>
    </main>
    <style>
        main {
            padding: 0 2rem;
            text-align: left;
        }
        ul {
            list-style: none;
        }
        li {
            margin-bottom: 1rem;
        }
        a {
            text-decoration: none;
        }
        .title {
            text-decoration: underline;
        }
        .date {
            color: var(--gray-400);
        }
        .description {
            color: var(--gray-100);
        }
    </style>
</BaseLayout>
